/*Navbar-Top*/

html {
    background-color: none;
}


ul.NT {
    list-style: none;
}

.NT li {
    width: 33%;
    float: left;
}

.NT li:hover {
    animation-name: color_change;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.Title,
.NT,
.FT {
    color: #000;
}

.FT {
    background-color: #cccc00;
}

.Title:hover,
.NT:hover {
    cursor: pointer;
}

.NT {
    text-align: center;
}

.nt-2p {
    display: none;
    width: 100%;
    margin-top: 0;
}

#nt-2 {
    margin-bottom: 0;
}

#nt-2 h2 {
    margin-top: 17px;
}

#nt-2 h3 {
    margin: 0 auto;
    color: #000;
    padding-top: 15px;
}

/*Content*/

iframe {
    width: 70%;
    height: 500px;
    border: none;
    margin: 0% 15% 5% 15%;
}

.p {
    margin: auto -30px;
}



/*Footer*/

.FT {
    padding: 0;
}

/* Fonts */

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.1em; }
h5 { font-size: 1em; }
h6 { font-size: 1em; }


/* animations */

@-webkit-keyframes color_change {
	from { background-color: #666666; }
	to { background-color: #ffffff; }
}
@-moz-keyframes color_change {
	from { background-color: #666666; }
	to { background-color: #ffffff; }
}
@-ms-keyframes color_change {
	from { background-color: #666666; }
	to { background-color: #ffffff; }
}
@-o-keyframes color_change {
	from { background-color: #666666; }
	to { background-color: #ffffff; }
}
@keyframes color_change {
	from { background-color: #666666; }
	to { background-color: #ffffff; }
}