/*Navbar-Top*/


html {
    height: 100%
}


body {
    background-color: #038681;

    height: 100%;
    margin: 0;
    padding: 0
}

#topmenu {
    background-color: #3D3E3F;
    color: #fff;
    z-index: 2;
    position: absolute;
    width: 100%
}

.navbar-nav li {
    cursor: pointer;
    /* damit die buttons wieder in die urspruengliche Farbe gehen */
    background-color: transparent;
}

.navbar-nav li:hover {
    color: #333;
    background-color: #038681;
}

li > a:hover {
    text-decoration: none;
    background-color: #038681;
}

#bs-navbar .navbar-nav li a,
#bs-navbar .navbar-nav li a:hover {
    color: inherit;
}

.navbar-toggle .icon-bar {
    width: 22px;
    height: 3px;
    border-radius: 1px;
    background-color: #fff;
}

.navbar-link {font-size: 1.3em}
.navbar-link:hover,
.navbar-link:active {
    background-color: #038681;
}

/*Content*/

#content {
    position: absolute;
    top: 52px;
    width: 100%;
    z-index: 1;
}
.text_content {

}
iframe {
    width: 70%;
    height: 600px;
    border: none;
    margin: 0 15%;
}

#developer_container {
    position: relative;
    overflow: hidden;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

.bg {
    background-color: #038681;
}

/*Footer*/

#footer .navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important;
    padding-bottom:0 !important;
    height: 28px;
}
#footer.navbar {min-height:28px !important;}

.navbar-inverse {
    background-color: #3D3E3F;
    border-color: #080808;
}

/* Fonts */

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.1em; }
h5 { font-size: 1em; }
h6 { font-size: 1em; }

a {
    color: #000;
}

.floatr {
    float: right;
    color: #ddd;
    margin-right: 3px;
    font-size: 1.5em;
    margin-top: -7px;
    padding-top: -3px;
}

.floatr:hover {
    color: #f00;
    text-decoration: none;
    cursor:url(../IMG/gta5_new.png) -30 -30,pointer;
}

/* maps */

#include_content .container {
    margin: 0;
    padding: 0;
    width 100%;
}

@media screen and (min-width: 768px) {
    #map_canvas,
    #map {
        height: calc(100vh - 78px);
    }
}

@media screen and (max-width: 767px) {
    #map_canvas,
    #map {
        height: calc(100vh - 53px);
    }
}

/* my marker */

.posicon {
    background-color: #ff0000;
    border-radius: 50%;
    box-shadow: 2px 3px 9px 0px #000;
}

#meldung {
    /* visibility: hidden; */
    display: none;
    z-index: 5;
    position: absolute;
    width: 40%;
    margin-left: 30%;
    margin-top: calc(50vh - 100px);
    color: #ddd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#meldung h3 {
    background-color: #3D3E3F;
    padding: 3px;
    margin: 0;
}

#meldung p {
    background-color: #038681;
    text-align: center;
    padding: 40px 3px;

}

