
html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    padding: 0
}

#include_content .container {
    margin: 0;
    padding: 0;
    width 100%;
}

#map {
}

.NT {
    background-color: #000;
    color: #fff;
    height: 60px;
    text-align: center;
}
.NT:hover {
    cursor: pointer;
    background-color: #adadad;
}
#localize {
    margin-top: 20px;
}


@media screen and (min-width: 768px) {
    #map_canvas,
    #map {
        height: calc(100vh - 78px);
    }
}

@media screen and (max-width: 767px) {
    #map_canvas,
    #map {
        height: calc(100vh - 53px);
    }
}