
html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    padding: 0
}
#map_canvas,
#map {
    height: 400px;
    width: 70%;
    margin: 0 15%;
}
.NT {
    background-color: #000;
    color: #fff;
    height: 60px;
    text-align: center;
}
.NT:hover {
    cursor: pointer;
    background-color: #adadad;
}
#localize {
    margin-top: 20px;
}