
html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    padding: 0
}

#include_content .container {
    margin: 0;
    padding: 0;
    width 100%;
}

#map_canvas,
#map {
    height: 100vh;
}
#map {
    margin-bottom: 20px;
}
.NT {
    background-color: #000;
    color: #fff;
    height: 60px;
    text-align: center;
}
.NT:hover {
    cursor: pointer;
    background-color: #adadad;
}
#localize {
    margin-top: 20px;
}